<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-danger"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div *ngIf="dataLoaded == true">
  <h5 style="color: red">Colors</h5>
  <ul class="list-group">
    <li
      routerLink="cars/color/{{color.id}}"
      (click)="setCurrentColor(color)"
      *ngFor="let color of colors"
      [class]="getCurrentColorClass(color)"
    >
      <td>
        <b>{{ color.colorName }}</b>
      </td>
    </li>
  </ul>

  <h5 *ngIf="currentColor">{{ currentColor.colorName }} seçildi.</h5>
</div>


