<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<h5 *ngIf="dataLoaded == true" style="color: blue">Cars</h5>

<div class="row" *ngIf="dataLoaded == true">
  <div *ngFor="let car of cars" class="card" style="width: 18rem">
    <img
      class="card-img-top"
      width="320"
      height="200"
      src="https://www.cizgirentacar.com/img/slider/5-mobile-tr.jpg"
      alt="Card image cap"
    />

    <div class="card-body border border-dark">
      <h5 class="card-title">{{ car.brandName }} {{ car.description }}</h5>
      <p class="card-text">
        Click on the "see details" button for more information
      </p>
      
      <section style="float:right">
        <button routerLink="/cars/details/{{car.carId}}" type="button" class="btn btn-primary">Details</button>
      </section>
    </div>
    

  </div>
</div>

<!-- <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul> -->
<!-- 
  <table *ngIf="dataLoaded==true"class="table table-bordered">
    
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Açıklama</th>
            <th>Model</th>
            <th>Günlük Tutar(TL)</th>
        </tr>
    </thead>
    <tr *ngFor = "let car of cars" style="color:black">
        <td>{{car.carId}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.description}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}} TL</td>

    </tr>

</table> -->
